@{
    ViewBag.Title = "Trang chủ";
}

<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/series-label.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="https://code.highcharts.com/modules/export-data.js"></script>

<figure class="highcharts-figure">
    <div id="container"></div>
</figure>

<script>
    function HChart() {
        $.getJSON("/Home/GetData", function (data) {
            //debugger;
            var MatTroi = []
            var Gio = []
            var SinhKhoi = []
            var Tong = []
            var ThoiGian = []

            for (var i = 0; i < data.length; i++) {
                MatTroi.push(data[i].matTroi_HienTai);
                Gio.push(data[i].gio_HienTai);
                SinhKhoi.push(data[i].sinhKhoi_HienTai);
                Tong.push(data[i].tong_HienTai);
                ThoiGian.push(data[i].thoiGian);
            }

            Highcharts.chart('container', {
                chart: {
                    type: 'spline'
                },
                title: {
                    text: 'Năng lượng tái tạo'
                },
                /*subtitle: {
                    text: 'Source: WorldClimate.com'
                },*/
                xAxis: {
                    categories: ThoiGian
                },
                yAxis: {
                    title: {
                        text: 'Công suất hiện tại'
                    },
                    labels: {
                        formatter: function () {
                            return this.value + 'MW';
                        }
                    }
                },
                tooltip: {
                    crosshairs: true,
                    shared: true
                },
                plotOptions: {
                    spline: {
                        marker: {
                            radius: 4,
                            lineColor: '#666666',
                            lineWidth: 1
                        }
                    }
                },
                series: [{
                    name: 'Mặt trời',
                    data: MatTroi
                }, {
                    name: 'Gió',
                    data: Gio
                }, {
                    name: 'Sinh khối ',
                    data: SinhKhoi
                }, {
                    name: 'Tổng',
                    data: Tong
                }]
            });
        });
    }
    $(document).ready(HChart);
    setInterval(HChart,60000);
</script>