@{
    ViewBag.Title = "Register";
}
<div class="container">
    <div class="row text-center">
        <div class="col-md-4 offset-md-4">
            <div class="card">
                <div class="card-body">
                    <div>
                        <img class="login-img" src="~/image/register.png" />
                    </div>
                    <div class="login-title">
                        <h4>Register</h4>
                    </div>
                    <div class="login-form mt-4">
                        <form action="../Login/VerifyRegister" method="post">
                            <div class="form-row">
                                <div class="form-group col-md-12">
                                    <input id="username" name="Username" placeholder="Username" class="form-control" type="text" value=@ViewBag.Username>
                                </div>
                                <div class="form-group col-md-12">
                                    <input id="password" name="Password" placeholder="Password" class="form-control" type="password">
                                </div>
                            </div>
                            <div class="form-row">
                                <span class="message">@ViewBag.Verify</span>
                            </div>

                            <div class="form-row">
                                <button type="submit" class="btn btn-danger btn-block">Submit</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
